/* RESET */

* {  
	vertical-align: baseline;  
	font-family: "Oswald";  
	font-style: inherit;  
	font-size: 100%;  
	padding: 0;  
	margin: 0;  
	}   
table {  
	border-collapse: collapse;  
	border-spacing: 0;  
}

ul{
    list-style-type: none;
}
/* Begin */
body{
    display: grid;
    max-width: 100vw;
    min-height: 100vh;
    background-image: linear-gradient(to right, #212120, #20201f, #1e1e1d, #1d1d1c, #1c1c1b, #1c1c1b, #1c1c1b, #1c1c1b, #1d1d1c, #1e1e1d, #20201f, #212120);
}

header{
    position:sticky;
    top: 0;
    height: 10vh;
    background-image: linear-gradient(to right, #d1e153, #dcd341, #e6c332, #efb428, #f6a325, #ff9150, #ff8674, #ff8394, #f397cb, #d6b2f0, #b9caff, #b0dcfc);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 10vw;
}

header > h1{
    font-size: 2.5em;
}

header > nav{
    display: flex;
    gap: 1em ;
    position: absolute;
    right: 10vw;
    font-size: 2em;
}

header > nav > *:hover{
    cursor:pointer;
    opacity: 0.5;
}

main{
    min-height: 70vh;
    padding: 5vh 15vw;
}

footer{
    height: 20vh;
    background-image: linear-gradient(to right, #d1e153, #dcd341, #e6c332, #efb428, #f6a325, #ff9150, #ff8674, #ff8394, #f397cb, #d6b2f0, #b9caff, #b0dcfc);
}

h1{
    font-family: "Anton";
}

button {
    border-radius: 100rem;
    padding: 1rem;
    font-size: 1rem;
    padding: .5rem 3rem;
    color: white;
    box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
    border: solid 3px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(to right, #d1e153, #dcd341, #e6c332, #efb428, #f6a325, #ff904c, #ff816e, #ff7b8c, #f48ac3, #d2a2ed, #a6baff, #85ccff);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #1B1B1A inset;
  }
  
button:hover {
    box-shadow: none;
    cursor:pointer;
}

input.searchBar{
    border-radius: 100rem;
    padding: 1rem;
    font-size: 1rem;
    padding: .5rem 3rem;
    box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
    border: solid 3px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(to right, #d1e153, #dcd341, #e6c332, #efb428, #f6a325, #ff904c, #ff816e, #ff7b8c, #f48ac3, #d2a2ed, #a6baff, #85ccff);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #fff inset;
}

section{
    display: flex;
    flex-direction: column;
    gap: 10vh 0;
}

section > form{
    display: flex;
    justify-content: center;
    gap:1vw;
}
section > form > input{
    width: 70%;
}

#pokemonListul{
    width: 100%;
    border: solid white 1px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#pokemonListul > li{
    background-color: green;
    height: 35vh;
    border-radius: 10%;
    margin: 1vh 1vw;
}